.navbar-div{
    padding: 20px;
}

.navbar-div h2{
    font-size: 30px;
}

.drop-btn{
    margin-top: 3px;
    background-color: #fff;
    color: #29335c;
    border: none;
    margin-left: 30px;
}

#id {
    font-weight: bolder;
}

#dropdown {
    margin-top: 5px;
}
