.contact-header {
  justify-content: center;
}

input, 
textarea {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin-top: 0.35rem;
  width: 80%;
  color: #27405d;
}

label {
  display: block;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}


li {
  text-decoration: none;
  list-style: none;
  margin-bottom:7%;
}

#contact-section {
  display: flex;
  padding: 6%;
  flex-wrap: wrap;
}

#contact-info {
 width: 45%;
 padding: 5%;
}

#contact-div {
  flex: 1;
  justify-content: left;
  margin-top: auto;
  width: 60%;
}
