.contact-header {
  justify-content: center;
}

input, 
textarea {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin-top: 0.35rem;
  width: 80%;
  color: #27405d;
}

label {
  display: block;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}


li {
  text-decoration: none;
  list-style: none;
  margin-bottom:7%;
}

#profile-header,
.friend-h3 {
  color: #253c78;
  font-weight: bolder;
}

#add-btn{
  float: right;
  padding: 20px;
  background-color: #253c78;
  color: #fff;
  margin-right: 20px;
}

#friends{
  color: #253c78;
  font-weight: bolder;
  border: 1px solid #253c78;
}

