.app-activities {
  /* display: flex; */
  padding: 15px;
}
.mainActivityCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* .map-component {
  /* padding: 20px; */
  /* flex: 1; */
/* } */
/* .map-divOuter {
  justify-content: center;
  padding: 25px;
} */
/* .map-divInner {
  
} */
.activity-title {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.activity-name .card {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.activity-distance {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.averageSpeed {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.totalTime {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.elevationGain {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.activity-map {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.button-stravaLogin {
  padding: 5px;
}

.activity-loginBtn {
  padding: 5px;
}
