/* .strava-login-page {
    background-image: url('../../images/pexels-julia-volk-8921113.jpg');
    height: 100%;
} */

.button-stravaLogin{
    display: block;
}
.mapbox-container{
    justify-content: center;
}

.flex-container {
   display: flex;
   margin-left: 5%;

    @media (max-width: 869px){
        background-color: red;
    }
}

.strava-activities{
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
    border: 1px solid #29335c;
    width: 100%; 
}

.activity-name,
.activity-distance,
.averageSpeed,
.totalTime,
.elevationGain,
.activity-map {
    display: block;
    justify-content: space-evenly;
    margin-right: 5px;
    padding: 5px;
}

.activity-title {
    color: #29335c; 
    margin-left: 5%;
}

.map-div {
    flex: 1;
    /* padding: 10px; */
    display: inline;
    flex-wrap: wrap;
    /* width: 300px; */
    /* float: right; */
    /* left: 60%; */ 
    position: absolute;
    top: 20%;
}

#activity-name,
#activity-distance,
#averageSpeed,
#totalTime,
#elevationGain,
#activity-map {
    font-weight: bolder;
    float: right;
}

.activity-title{
    justify-content: center;
}


