.mapbox-container {
  justify-content: center;
}

.flex-container {
  display: flex;

  @media (max-width: 869px) {
    background-color: red;
  }
}

.strava-activities {
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #29335c;
}

.activity-name,
.activity-distance,
.averageSpeed,
.totalTime,
.elevationGain,
.activity-map {
  display: block;
  justify-content: space-evenly;
  margin-right: 5px;
  padding: 10px;
}

.map-div {
  flex: 1;
  padding: 10px;
  flex-wrap: wrap;
  width: 300px;
}

#activity-name,
#activity-distance,
#averageSpeed,
#totalTime,
#elevationGain,
#activity-map {
  font-weight: bolder;
}

.activity-title {
  justify-content: center;
}
