.chatScreen-text {
    margin-left: 10px; 
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
  }
  
  .chatScreen-message {
      display: flex;
      align-items: center;
      padding: 20px;
  }
  
  .chat-time {
      text-align: center;
      padding: 20px;
      color: gray;
  }
  
  .chatScreen-textUser {
      margin-left: auto;
      background-color: #29b3cd;
      color: white;
      padding: 15px;
      border-radius: 20px;
  }
  
  .chat-input {
      display: flex;
      padding: 5px;
      position: fixed;
      bottom: 0;
      width: 100%;
      border-top: 1px solid lightgray;
  }
  
  .input-field {
      flex: 1;
      padding: 10px;
      border: none;
  }
  
  .input-btn {
      border: none;
      margin-right: 20px;
      background-color: white;
      font-weight: bolder;
      color: #fe3d71;
  }