.chat {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    height: 150px;
    border-bottom: 1px solid lightgrey;
}
a{
    text-decoration: none;
    color: inherit;
}

.chat__details {
    flex: 1;
}
.chat__details > p {
    color: gray;
    /* background-color: lightgrey; */
}

.chat__image{
    margin-right: 30px;
    
}

.chat__timestamp{ 
    color: lightgrey;
}