/*  start of the activity box class */

.app-activities {
  
    border-radius: 5px;
    
    padding: 15px;
    /* class btn to change the background color of the buttons in the activities box  */
    @media (max-width: 896px) {
      padding: 0;
      display: inline-block;
    }


} 


.app-activitiesInner {
  border-radius: 5px;
  display: flex;
  padding: 15px;
  /* background-color:aliceblue; */
  /* class btn to change the background color of the buttons in the activities box  */
  @media (max-width: 896px) {
    padding: 0;
    /* display: flex;
    flex-direction: column; */
  }
}
.panel-block {
  padding: 15px;
  flex-direction: row;
  @media (max-width: 896px) {
    padding: 0;
    
  }
}
 .control {
  
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  /* background-color:rgba(85, 124, 196, 0.9); */
}

/* #activity-box .btn:hover {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.9);
    /* class btn to change the background color of the buttons in the activities box when hovered over  */

/* } */
.parksResults-OuterBox {
  /* background-color: aliceblue; */
  display: grid;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.input-controlDiv {
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
}

.parksResults-ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.input-divOuter {
  background-color: white;
  /* display: flex; */
  /* flex-direction: row; */

  align-items: center;
  padding: 20px;
}
.input-divInner {
  background-color: aliceblue;
  /* display: flex; */
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: center;
  padding: 20px;
}
/* .parksResults-innerLi {
    
}  */
.SearchCity-Button {
  flex: 1;
  align-items: center;
}
.SearchCity-Button:hover {
  background-color: rgba(85, 124, 196, 0.9);
}

/* Testing box class */
.box {
  /* background-image: url('https://hips.hearstapps.com/amv-prod-gp.s3.amazonaws.com/gearpatrol/wp-content/uploads/2016/06/best-day-hikes-gear-patrol-full-lead-1440.jpg'); */
  position: sticky;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

.box .white-space {
  background-color: rgba(163, 188, 182, 0.9);
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; */
}
