.thoughtForm-outerDiv{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    border: 1px solid aliceblue;
}

.post-form-h2 {
    margin-right: 5%;
    color: #29335c;
}



/* .form-box{
    display: flex;
} */

.form-input{
    /* align-content: center; */
    display: block;
    width: 100%;
    float: right;
    margin-left: 5%;
    justify-content: space-between;
}
.submit-button{
    border-radius: 5px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
    padding: 15px;
    font-size: 1em;
    flex: 1;
    /* justify-content: flex-end; */
    float: right;
}
.submit-button:hover{
    background-color: rgba(161, 161, 161, 0.226);
}

.submit-thought-form {
    float: right;
}

#thought-form-id {
    border-radius: 10px;
    display: block;
}