.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    color: blue;
}