.tinder-card {
    display: flex;
    /* position: fixed; */
    width: 600px;
    padding: 20px;
    max-width: 65vh;
    height: 50vh;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}
.tinder-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
}

.swipe {
    /* position: absolute; */
}

.card > h3 {
    /* position: absolute; */
    bottom: 10px;
    color: black;
}

.cardContainer{
    display: flex;
    justify-content: center;
}
.tinder-card-header{
    color: #29335c;
    margin-bottom: 80vh;
    display: block;
}

.tinderCard-box {
    padding: 25px;
}

.tinderCard-boxInner{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.innerDiv{
    padding: 5px;
}
.tinderCard-boxButton{
    display: flex;
    padding: 15px;
    background-color:aliceblue;
    /* justify-content: center; */
}

.cardContainer-divOuter{
    position: absolute;
    /* justify-content: center; */
    /* display: flex; */
}
.cardContainer-divInner{
    justify-content: center;
    display: flex;
    align-content: center;
    
}


.cardContainer-li{
    font-size: 30px;
}